{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    Picture Editor
{% endblock %}

{% block main %}
<div style = "width:100%; margin:10px">
<!--<table>-->
    <!--<tr>-->
        <!--<td>-->

        <!--</td>-->
        <!--<td width="{{ r.img_w }}">-->
            <div width="{{ r.img_w }}" style = "float:left; width: 50%;"  style="position: absolute; margin:10px" >
                <!--<img src="{% static tmplt.image_file %}" style="position: absolute"/>-->
                <img src="http://rosetta.nli.org.il/delivery/DeliveryManagerServlet?dps_func=stream&dps_pid={{ tmplt.link_id }}" style="position: absolute"/>
              {% for r in regions %}
                <svg id="svg{{ r.id }}" width="{{ r.img_w }}" height="{{ r.img_h }}" style="position: absolute">
                    <g id="{{ r.id }}" style="position: absolute" transform = "{{ r.transform }}">
                        <rect x="{{ r.x }}" y="{{ r.y }}" width="{{ r.width }}" height="{{ r.height }}" style="fill:{{ r.color }}" />
                        <text id="region{{ r.id }}_text" x="{{ r.txt_x }}" y="{{ r.txt_y }}" width="{{ r.width }}"
                              style="fill:{{ r.txt_color }}; font-size:30; text-anchor:middle">Text{{ r.id }}</text>
                    </g>
                </svg>
              {% endfor %}
            </div>
            <div style = "float:left; width: 10%;">
            </div>
            <div style = "float:right; width: 40%; margin:10px">
                <form method="POST" action="{% url "mem_editor_save" tmplt.id %}">
                    {% csrf_token %}
                    <div  id="editor">
                        <h2>Enter your text</h2>
                    </div>
                    <br/>
                    <div>
                        <button id="create" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>


        <!--</td>-->
    <!--</tr>-->
<!--</table>-->
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{% static "mem_editor_scripts.js" %}"></script>
{% endblock %}