{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    Template Editor
{% endblock %}

{% block main %}

<div style = "width:100%; margin:10px">
<div style = "float: left">
    <div style = "float:top "  >
        <button id="rect" class="btn btn-default">Text Area</button>
        <button id="colorpicker" class="btn btn-default">Color</button>
        <button id="clear" class="btn btn-default">Clear</button>
        <button id="save" class="btn btn-default">Save</button>
    </div>
    <br/>
    <div id = "canvasDiv" style = "float:bottom"  style="position: absolute; margin:10px">

        <!--<canvas id="paint">-->
        <!--</canvas>-->
    </div>
    <img id="picture" src="{{ pic_url }}" style="visibility: hidden" />
</div>
    <!--<label>Drawing tool-->
      <!--<select id="toolselect">-->
          <!--<option value="rect">Rectangle</option>-->
      <!--</select>-->
    <!--</label>-->

  <!--<canvas id="paint" width="800" height="550">-->
  <!--</canvas>-->


          <!--<label id="color">Color Picker-->
             <!--<canvas id="colorpicker" width="200" height="200"></canvas>-->
          <!--</label>-->
          <!--<label id="imagelabel">Image name </label>-->
          <!--<input id="imagename" name="imagename">-->
          <!--<input id="save" type=button value="save" >-->
          <!--<input id="clear" type=button value="New" >-->
          <!--<input id="load" type=button value="load" >-->

</div>
  <script src="{% static "template_editor_scripts.js" %}"></script>
{% endblock %}