{% extends "base.html" %}

{% block header %}
    מציג תמונות מקטלוג הספריה
{% endblock %}

{% block main %}

    <div class="panel panel-default">
        <div class="panel-body">

            <nav>
                <div class="col-md-1">
                    <ul class="pager">
                        <li class="previous"><a
                                href="{% url "thumbnail_list_next" pk=last_index %}">חפש
                            שוב</a></li>
                    </ul>
                </div>
                <div class="container-fluid">
                    <form method="post" class="add_pictures">{% csrf_token %}
                        {% for s in sheets %}

                            <div class="col-md-2">

                                <a href="{% url 'template_editor' pk=s.recordid %}"
                                   class="thumbnail">
                                    <img src="{{ s.thumbnail_url }}">
                                </a>
                            </div>


                        {% endfor %}

                    </form>
                </div>
                <div class="col-md-1">
                    <ul class="pager">
                        <li class="next"><a
                                href="{% url "thumbnail_list_next" pk=last_index %}">חפש
                            שוב</a></li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <!--<a href="{% url "thumbnail_list_next" pk=last_index %}">NEXT BATCH</a>-->

{% endblock %}
<!--</body>-->
<!--</html>-->