<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->

<!--</head>-->
<!--<body>-->
{% extends "base.html" %}



{% block header %}
מציג תמונות מקטלוג הספריה
{% endblock %}


{% block content %}

    <script>
    $(document).ready(function(){
    $("input").click(function(){
        $(this).prop('disabled', true);

        var title = $(this).data("title");
        var thumb = $(this).data("thumbnail_id");
        var lnk = $(this).data("link_id");
        var rec = $(this).data("recordid");
        var sub = $(this).data("subjects");
        var csrfToken = $("[name='csrfmiddlewaretoken']").val()

        $.ajax({
            method: "POST",

            url: "/add_picture",
            data: {
                csrfmiddlewaretoken: csrfToken,
                title: title,
                thumbnail_id: thumb,
                link_id: lnk,
                recordid: rec,
                subjects: sub,
            },
            success: function(data) {
                 console.log(data)
            },
            failure: function(errMsg) {alert(errMsg)}
        })

    })
    });
    </script>

<p>Click the checkbox next to pictures you are interested in</p>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <nav>
                <form method="post" class="add_pictures">{% csrf_token %}
                {% for s in sheets %}

                    <div class="col-md-2">
                        <input type="checkbox" id="{{ s.recordid }}"
                               data-title="{{ s.title }}" data-thumbnail_id="{{ s.thumbnail_id }}" data-link_id="{{ s.link_id }}"
                               data-recordid="{{ s.recordid }}" data-subjects="{{ s.subjects }}"/>

                        <a href="#" class="thumbnail">
                            <img src="http://rosetta.nli.org.il/delivery/DeliveryManagerServlet?dps_func=thumbnail&dps_pid={{ s.thumbnail_id }}">
                        </a>
                    </div>


                {% endfor %}

                </form>

                <div class="col-md-1">
                    <ul class="pager">
                        <li class="next"><a href="{% url "thumbnail_list_next" pk=last_index %}">הבא <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </div>
            </nav>
         </div>
    </div>
</div>

<a href="{% url "thumbnail_list_next" pk=last_index %}">NEXT BATCH</a>

{% endblock %}
<!--</body>-->
<!--</html>-->